/*start nested navbar*/
.wraaper-continer-NavgationTrending{
    margin-top:40px;
    padding: 20px;
    background-color: var(--background-color);
}
.continer-NavgationTrending{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.Link-NavgationTrending{
    color: var(--primary-color);
    margin-right: 10px;
    padding:10px;
    border-radius: 30px;
    font-size: 17px;
    
}
.Link-NavgationTrending::before{
    content: "";
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid var(--primary-hover-color);
    height:0;
    width: 0;
    position: absolute;
    margin: 27px 0px 0px 17px;
    scale: 0;
    transition: all 0.3s ease-out;
}
.Link-NavgationTrending:focus {
    background-color: var(--primary-hover-color);
}
.Link-NavgationTrending:focus::before{
    scale: 1;
}
.Link-NavgationTrending:hover {
    background-color: var(--primary-hover-color);
}
.Link-NavgationTrending:hover::before{
    scale: 1;
}
/*end nested navbar */
/*start Featured*/
.wraapar-slider-featured{
    margin-top:40px ;
}
.swiper {
    width: 100%;
    height: 100%;
    cursor:grab;
}
.wraaper-Featured-img {
    background: #fff;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #eee;
}
.wraaper-Featured-img .Featured-img {
    display: block;
    width: 100%;
    height:100% ;
    object-fit: cover;
}
/*end Featured*/
/* start info-item-Featured*/
.info-item-Featured{
    bottom: 0;
    margin-bottom: 20px;
}
.title-prodect-Featured{
    color: var(--primary-color);
    font-weight: 400;
    font-size: 15px;
    margin: 0;
}
.price-prodect-featured,.container-rating,.title-prodect-Featured{
    padding: 5px;
}
/* end info-item-Featured*/
/*Container-Icon-Featured*/
.Container-Icon-Featured{
    position: absolute;
    bottom: 0;
    background-color: var(--secondary-color);
    width: 100%;
    padding:10px 0 20px 0 ;
    margin-bottom: 17px;
    display: none;
    cursor: pointer;
}
.Icon-Featured{
    margin-right: 15px;
    background-color: var(--border-color);
    font-size: 15px;
    padding: 11px;
    border-radius: 50%;
    color: var(--primary-color);
    transition: 0.4s ease-in-out;
}
.Icon-Featured:hover{
    background-color: var(--primary-hover-color);
    color: var(--secondary-color);
}
.wraaper-Featured-img:hover .Container-Icon-Featured{
    display: block;
    animation: iconmovement 0.7s ease-in-out ;
}
@keyframes iconmovement {
    0%{
        margin-bottom: 0px;
        bottom: 0
    }
    100%{
        padding:10px 0 20px 0 ;
        margin-bottom: 15px;
    }
}
/*Start Media*/
@media(max-width:992px){
    .Container-Icon-Featured{
        display: block;
        position: static;
        margin: 0;
    }
    .wraaper-Featured-img:hover .Container-Icon-Featured{
        animation: none;
    }
}
@media (max-width: 480px){
    .title-Categories{
        font-size: 20px;
    }
    .Link-NavgationTrending {
        font-size: 15px;
    }
    .Icon-Featured{
        margin-right: 10px;
        padding: 9px;
        font-size: 14px;
    }
}
@media (max-width: 390px){
    .Link-NavgationTrending {
        font-size: 13px;
        margin-right: 0px;
        padding: 7px;
    }
    .Link-NavgationTrending::before{
        margin: 23px 0px 0px 10px;
    }
}
@media (max-width: 350px){
    .Icon-Featured{
        margin-right: 15px;
        padding:11px;
        font-size: 15px;
    }
}